
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HN - TP LOCAL</title>
    <link rel="stylesheet" href="~/ressources/Index.css" />
</head>
<body>
    <header>
        <h1>Bienvenue dans le TP HN</h1>
    </header>
    <img src="~/ressources/GroupeHN.png" class="image" alt="GroupeHN" />
    <nav>
        <ul>
            <li><a href="/Home/Index/Formulaire ">Remplir le formulaire</a></li>
            <li><a href="/Home/Index/ListeAvis ">Liste avis</a></li>
        </ul>
    </nav>
    <section>
        <p>
            <a href="/Home/Index/Formulaire ">Remplir le formulaire </a>
        </p>
    </section>
</body>
</html>
